<!-- image -->
<style>
    .post-image-int {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;

    }
    
    .post-image-int  img {
        margin: auto;
        border-radius: 43px;
    }
</style>




<figure {{ with .Get "class" }} class="{{.}}"{{ end }}>
    {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
        <img  {{ with .Get "src" }} src="{{ `{{.}}` | absURL }}"  {{ end }} />
    {{ if .Get "link" }}</a>{{ end }}
</figure>
<!-- image -->
